* {
    font-family: "Poiret One", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0%;
    padding: 0%;
    color: white;
    scroll-behavior: smooth;
}

#loading {

    display: block;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: white 10px solid;
    animation-name: laodingScreen;
    animation-duration: 300ms;
    animation-iteration-count: infinite;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes laodingScreen {
    0% {
        border: white 10px solid;
        border-top: cyan 10px solid;
    }

    25% {
        border: white 10px solid;
        border-right: cyan 10px solid;
    }

    50% {
        border: white 10px solid;
        border-bottom: cyan 10px solid;
    }

    75% {
        border: white 10px solid;
        border-left: cyan 10px solid;
    }

    100% {
        border: white 10px solid;
        border-top: cyan 10px solid;
    }
}

main {
    transition: 500ms;
    opacity: 0%;
    color: white;
    font-size: 20px;
    margin-left: -20%;
    padding-top: 16%;
    padding-bottom: 15%;
    transition: 500ms;

}

#today {
    position: relative;
    transform: translate(0%, 200%);
    z-index: 10000;

}

main h1 {
    font-size: 100px;

}



body {
    background-size: cover !important;
    background-repeat: no-repeat;
    transition: 500ms;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

body::-webkit-scrollbar {
    display: none;
}

#Wtoday {
    position: relative;
    background-color: rgba(0, 0, 0, 0.212);
    border-radius: 30px;
    width: 80%;
    opacity: 0%;
    transition: 1000ms;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 5%;
    padding-top: 4%;
}



#Wtoday::-webkit-scrollbar {
    opacity: 0%;
}



#Wtoday div {

    margin-top: 6%;
    width: 100px !important;
    text-align: center;
    white-space: nowrap;
    padding: 4%;
    position: relative;
    display: flex;
    flex-direction: column;
    border-right: 0.2px solid rgba(255, 255, 255, 0.332);
    justify-content: center;
}

#Wtoday div svg {
    position: relative;
    text-align: center;

}

#Wtoday p {

    transform: translate(-50%, -300%);
}

#Wweek {
    margin-top: 5%;
    transition: 1000ms;
    position: relative;
    background-color: rgba(0, 0, 0, 0.212);
    border-radius: 30px;
    width: 80%;
    opacity: 0%;
    transition: 1000ms;
    display: flex;
    flex-direction: column;
    padding: 5%;

}

.wdivs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
    border-bottom: rgba(255, 255, 255, 0.356) 1px solid;

}

.wdivs div:nth-child(0) {
    background-color: aquamarine;
}

header {
    display: flex;
    background-color: rgb(13, 92, 92);
    z-index: 10000000000;
    align-items: center;
    opacity: 0%;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    transition: 200ms;

}


.wdivs div {
    text-align: center;
    display: flex;
    width: 50%;
}

.wdivs div div {
    width: 50%;
    display: flex;
    white-space: nowrap;
    padding: 2%;
    flex-direction: column;
    text-align: center;
}

.wdivs div div:nth-child(1) {
    border-right: white 1px solid;


}

.wdivs div div:nth-child(2) svg {
    padding-top: 5%;

}

footer {
    padding-top: 50px;
    backdrop-filter: blur(50px);
    width: 100%;
    color: rgb(0, 0, 0);
    text-align: center;
}

#deskMode {
    display: none;
}

.Desktop {
    display: flex;
}

.Desktop .DesktopMode {
    width: 50%;
}

.DesktopMode {

    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (min-width:1000px) {
    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0%;
        height: 70vh;
        user-select: none;

    }

    main h1 {
        font-size: 130px;

    }

    #today {
        transform: translate(0px, 150%);
    }

    .Desktop .DesktopMode {
        width: 700px;
    }

    #deskMode {
        display: block;
        position: absolute;
        left: 90%;
        width: 2%;
        height: 5vh;
    }

    #deskMode:hover {
        fill: gray;
    }

    #Wtoday {
        overflow-x: auto;
    }

}

@media (max-width: 1000px) {
    .Desktop {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .Desktop .DesktopMode {
        width: 100%;
    }

    .DesktopMode {

        width: 100%;

    }

    main {
        transition: 500ms;
        opacity: 0%;
        color: white;
        font-size: 20px;
        margin-left: 8%;
        padding-top: 16%;
        padding-bottom: 15%;
        transition: 500ms;

    }

    #today {
        transform: translate(0px, 150%);
    }
}